@model List<ReservationModel>

@await Html.PartialAsync("_NavbarPartial")
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Bugünün Parası</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @{
                                        decimal? bugunToplam = 0;
                                        foreach (var item in Model)
                                        {
                                            if (item.ReservationDate.ToShortDateString()==DateTime.Now.ToShortDateString())
                                            {
                                                bugunToplam += item.Lesson.Price;
                                            }
                                        }
                                    }
                                    @($"{@bugunToplam:C2}")
                                    
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Bugünün Kullanıcıları</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @ViewBag.TodayUsers
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Yeni Kullanıcılar</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @ViewBag.NewUsers
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-body p-3">
                    <div class="row">
                        <div class="col-8">
                            <div class="numbers">
                                <p class="text-sm mb-0 text-capitalize font-weight-bold">Toplam Rezervasyonlar</p>
                                <h5 class="font-weight-bolder mb-0">
                                    @{
                                        decimal? totalMoney = 0;
                                        foreach (var item in Model)
                                        {
                                            totalMoney += item.Lesson.Price;
                                        }
                                    }
                                    @($"{@totalMoney:C2}")
                                </h5>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-8 col-md-8">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h6>Rezervasyonlara Genel Bakış</h6>
                </div>
                <div class="card-body p-3">
                    <div class="timeline timeline-one-side">
                        @foreach (var item in Model)
                        {
                            <div class="timeline-block mb-3">
                                <span class="timeline-step">
                                    <i class="ni ni-bell-55 text-success text-gradient"></i>
                                </span>
                                <div class="timeline-content">
                                    <h6 class="text-dark text-sm font-weight-bold mb-0">@($"{item.Lesson.Price:C2}"), @item.Lesson.Name</h6>
                                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">@item.ReservationDate</p>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <h6 class="mb-0">Son Ödemeler</h6>
                        </div>
                        <div class="col-6 text-end">
                            <a asp-area="Admin" asp-controller="Reservations" asp-action="Index" class="btn btn-outline-primary mb-0">Tümünü Gör</a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 pb-0">
                    <ul class="list-group">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-1 text-dark font-weight-bold text-sm">@item.ReservationDate</h6>
                                    <span class="text-xs">#MS-415646</span>
                                </div>
                                <div class="d-flex align-items-center text-sm">
                                    @($"{item.Lesson.Price:C2}")
                                    <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fas fa-file-pdf text-lg me-1"></i> PDF</button>
                                </div>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>