@model TeacherEditViewModel
@{
    var genderList = Enum.GetValues(typeof(EnumGender));
    var universities = ViewBag.Universities != null ? ViewBag.Universities : new List<University>();
}

<input type="hidden" id="teacherId" value="@Model.Id" />

<hr class="m-0 p-0" />

<div class="container">

    <form asp-area=""
          asp-controller="Teachers"
          asp-action="EditProfile"
          enctype="multipart/form-data"
          method="post">
        <h4 class="mt-5">Kullanıcı İşlemleri</h4>
        <hr />
        <div class="row">
            
            <div class="col-md-3 mt-1">
                <div class="mb-3">
                    @if (Model.ImageUrl != null)
                    {
                        <img src="~/images/Teachers/@Model.ImageUrl" />
                    }
                    <div class="mt-4">
                        <input type="file" asp-for="Image" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" asp-for="FirstName"></label>
                            <input class="form-control" asp-for="FirstName">
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="LastName"></label>
                            <input class="form-control" asp-for="LastName">
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName">
                            <span class="text-danger" asp-validation-for="UserName"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="Email"></label>
                            <input class="form-control" asp-for="Email">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div>
                            @(Model.EmailConfirmed == true ? "E-mailiniz onaylıdır." : "")
                            <span class="@(Model.EmailConfirmed==false? "d-inline" : "d-none")">E-Mailiniz onaylı değildir. <a asp-area="" asp-controller="Account" asp-action="ConfirmEmail">Buradan onaylayabilirsiniz.</a></span>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label class="form-label" asp-for="BirthDate"></label>
                    <input type="date" minvalue="1900-01-01" class="form-control" asp-for="BirthDate">
                    <span class="text-danger" asp-validation-for="BirthDate"></span>
                </div>
                <p class="mt-4" style="font-weight:500;">Cinsiyet</p>
                <div class="form-check d-flex">
                    @foreach (var item in genderList)
                    {
                        <input class="form-check-input" type="radio" asp-for="Gender" value="@item">
                        <label class="form-check-label me-5" for="Gender">
                            @item
                        </label>
                    }
                </div>
                <span class="text-danger" asp-validation-for="Gender"></span>
            </div>


        </div>
        <h4 class="mt-5">Profil İşlemleri</h4>
        <hr />
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col">
                        <div class="mb-3 w-50">
                            <label class="form-label" asp-for="Title"></label>
                            <input class="form-control" asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="ShortInfo"></label>
                            <textarea class="form-control" style="height:150px;" asp-for="ShortInfo"></textarea>
                            <span class="text-danger" asp-validation-for="ShortInfo"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" asp-for="Experience"></label>
                            <textarea class="form-control" style="height:150px;" asp-for="Experience"></textarea>
                            <span class="text-danger" asp-validation-for="Experience"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" asp-for="OtherEducations"></label>
                            <textarea class="form-control" style="height:100px;" asp-for="OtherEducations"></textarea>
                            <span class="text-danger" asp-validation-for="OtherEducations"></span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div class="mb-3">
            <span>Oluşturma Tarihi: <span class="form-text">@Model.CreatedDate.ToString()</span></span>
            <br />
            <span>Son Güncelleme Tarihi: <span class="form-text">@Model.UpdatedDate.ToString()</span></span>
        </div>
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
    </form>
    
    
    <h4 class="mt-5">Üniversite Ekleme/Çıkarma</h4>
    <hr />
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addUni">Üniversite Ekle</button>
    <!-- Modal -->
    <div class="modal fade" id="addUni" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Üniversite Ekleme</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <select class="form-select" id="uniId">
                                @foreach (var uni in universities)
                                {
                                    <option value="@uni.Id">@uni.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="uniDescription" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" onclick="addUniversityEducation()">Üniversite Ekle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mb-3" id="educationDiv">
                @await Html.PartialAsync("_UniversityEducationPartial", Model.UniversityEducations)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        function deleteEducation(universityId, educationId) {
            $.ajax({
                url: '@Url.Action("DeleteUniversityEducation","Teachers")',
                type: 'POST',
                dataType: 'json',
                data: { universityId: universityId, educationId: educationId },
                success: function (result) {
                    $("#educationDiv").load('@Url.Action("GetUniversityEducationPartial","Teachers")' + '?teacherId=' + @Model.Id)
                },
                error: function (hata) {

                }
            });
        }
        function addUniversityEducation(){
            var teacherId = $("#teacherId").val();
            var universityId = $('#uniId').find(":selected").val();
            var description = $("#uniDescription").val();

            $.ajax({
                url: '@Url.Action("AddUniversityEducation","Teachers")',
                type: 'POST',
                dataType: 'json',
                data: { teacherId: teacherId, universityId: universityId, description: description },
                success: function (result) {
                    $('#addUni').modal('hide');
                    $("#educationDiv").load('@Url.Action("GetUniversityEducationPartial","Teachers")' + '?teacherId=' + @Model.Id)
                },
                error: function (hata) {

                }
            });
        }
    </script>
}