@model CheckOutModel
<hr class="m-0 p-0" />

<div class="container mb-5 mt-2">
    <h3>Ödeme Sayfası</h3>
    <hr />
    <form asp-area="" asp-controller="Reservations" asp-action="Checkout" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" id="availibityId" value="@Model.TeacherAvailabilityModel.Id" asp-for="TeacherAvailabilityModel.Id" />
        <input type="hidden" id="lessonId" value="@Model.LessonModel.Id" asp-for="LessonModel.Id" />
        <input type="hidden" id="reservationDate" value="@Model.ReservationDate" asp-for="ReservationDate" />
        <div class="row">
            <div class="col-md-8 col-12">
                <h4>Fatura Bilgileri</h4>
                <div class="row mb-3">
                    <div class="col-md-6 col-12">
                        <label class="form-label" asp-for="FirstName"></label>
                        <input class="form-control" asp-for="FirstName" />
                    </div>
                    <div class="col-md-6 col-12">
                        <label class="form-label" asp-for="LastName"></label>
                        <input class="form-control" asp-for="LastName" />
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Address"></label>
                        <textarea class="form-control" asp-for="Address"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-4 col-12">
                        <label class="form-label" asp-for="City"></label>
                        <input class="form-control" asp-for="City" />
                    </div>
                    <div class="col-md-4 col-12">
                        <label class="form-label" asp-for="Phone"></label>
                        <input class="form-control" asp-for="Phone" />
                    </div>
                    <div class="col-md-4 col-12">
                        <label class="form-label" asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                    </div>
                </div>
                <hr />
                <h4>Kart Bilgileri</h4>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="CardName"></label>
                        <input class="form-control" asp-for="CardName" />
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="CardNumber"></label>
                        <input class="form-control" asp-for="CardNumber" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label class="form-label" asp-for="ExpirationMonth"></label>
                        <input class="form-control" asp-for="ExpirationMonth" />
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="ExpirationYear"></label>
                        <input class="form-control" asp-for="ExpirationYear" />
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="Cvc"></label>
                        <input class="form-control" asp-for="Cvc" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <h4>Rezervasyon Bilgileri</h4>
                <div>
                    <span class="fw-bold">Rezervasyon Günü:</span> @Model.ReservationDate.ToShortDateString(), @Model.TeacherAvailabilityModel.DayOfWeek
                </div>
                <div>
                    <span class="fw-bold">Eğitmen:</span> @Model.LessonModel.Teacher.User.FirstName @Model.LessonModel.Teacher.User.LastName
                </div>
                <div>
                    <span class="fw-bold">Ders:</span> @Model.LessonModel.Name
                </div>
                <div>
                    <span class="fw-bold">Rezervasyon Ücreti:</span> @($"{@Model.LessonModel.Price:C2}")
                </div>
                
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">Ödemeyi Yap</button>
                </div>
            </div>
        </div>
    </form>
</div>